.ri-road-map-line {
    color: #734d26;
    font-size: 70px;
}

.ri-car-line {
    color: #734d26;
    font-size: 70px;
}

.ri-phone-line {
    color: #734d26;
    font-size: 70px;
}

.ri-focus-3-line {
    color: #734d26;
    font-size: 70px;
}

